@{
    ViewBag.Title = "Página de inicio";
}

<main>
    <div class="row">
        <section class="col-md-8">
            <button id="btnAgregar" class="btn btn-primary" style="margin-bottom: 25px" onclick="location.href='@Url.Action("Encuesta", "Home")'" >Agregar Encuesta</button>
            <br />
            <h2>Resumen de encuestas realizadas</h2>
            <table id="gridResultados" class="table table-striped">
                <thead>
                    <tr>
                        <th>Número de posición </th>
                        <th>Nombre del destino</th>
                        <th>Clasificación %</th>
                        <th>Diferencia % (anterior puesto)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Se llena por JS -->
                </tbody>
            </table>
        </section>
    </div>
</main>

@section scripts {
    <script src="~/Scripts/Encuesta.js"></script>
}