@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section class="col-md-8">
            <button id="btnAgregar" class="btn btn-primary">Agregar</button>
            <h2>Resumen de la Encuesta</h2>
            <table id="gridResultados" class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Destino</th>
                        <th>Clasificación (%)</th>
                        <th>Diferencia (%)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Se llena por JS -->
                </tbody>
            </table>
        </section>
    </div>
</main>

@section scripts {
    <script src="~/Scripts/Encuesta.js"></script>
}